<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="Shortcut Icon" th:href="@{/static/images/logo.icon}">
    <title>预核保-后台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/public.css}" />

</head>

<body>

<div class="aside_nav">
    <div class="nav_tit flex" th:include="pubic/header :: logo"></div>
    <ul>
        <li >
            <a class="flex" th:href="@{/admin/underwriting/select}"> 待审核</a>
        </li>
        <li  class="active">
            <a class="flex" th:href="@{/admin/underwriting/selectHistory}"><img th:src="@{/static/images/dengdai.png}"> <span>已审核</span></a>
        </li>
        <li>
            <a class="flex" th:href="@{/admin/agent/select}">代理人管理</a>
        </li>
        <li>
            <a class="flex" th:href="@{/admin/announcement/select}">公告信息</a>
        </li>
        <li th:if="${session.user.role}=='200'">
            <a class="flex" th:href="@{/admin/company/select}">公司管理</a>
        </li>
        <li th:if="${session.user.role}=='200'">
            <a class="flex" th:href="@{/admin/user/select}">管理员管理</a>
        </li>
    </ul>
</div>
<div class="wrap ">
    <div class="header" th:include="pubic/header :: header"></div>
    <div class="tables" style="margin: 0px">

        <!--<div class="table_seach anim">-->
        <!--<input placeholder="请输入公司名称" />-->
        <!--<div class="seach">搜索</div>-->
        <!--</div>-->
        <div class="history anim"><a href="javascript:history.back(-1)">返回上一页</a> </div>
        <div class="t_box anim">
            <div class="box_tit">
                <span>已审核人员</span>
                <!--<div class="box_add">添加</div>-->
            </div>
            <div class="box_table">
                <div class="details">
                    <div class="details-item">
                        <div class="details-item-l">
                            <span>姓名</span>
                        </div>
                        <input disabled="disabled" class="details-item-r" th:value="${underwriting.name}" />
                    </div>
                    <div class="details-item">
                        <div class="details-item-l">
                            <span>性别</span>
                        </div>
                        <input disabled="disabled" class="details-item-r" th:if="${underwriting.sex != male}" value="男" />
                        <input disabled="disabled" class="details-item-r" th:if="${underwriting.sex == male}" value="男" />
                    </div>
                    <div class="details-item">
                        <div class="details-item-l">
                            <span>出生日期</span>
                        </div>
                        <input disabled="disabled" class="details-item-r" th:value="${underwriting.birthday}" />
                    </div>
                    <div class="details-item">
                        <div class="details-item-l">
                            <span>联系电话</span>
                        </div>
                        <input disabled="disabled" class="details-item-r" th:value="${underwriting.phone}" />
                    </div>
                    <div class="details-item">
                        <div class="details-item-l">
                            <span>提交日期</span>
                        </div>
                        <input disabled="disabled" class="details-item-r" th:value="${underwriting.submitTime}" />
                    </div>
                    <div class="details-item">
                        <div class="details-item-l">
                            <span>详细状况</span>
                        </div>
                        <textarea readonly="readonly" class="details-item-r  details-item-r-text" th:text="${underwriting.introduce}"></textarea>
                    </div>
                    <div class="details-item">
                        <div class="details-item-l">
                            <span>确认信息</span>
                        </div>
                        <input disabled="disabled" class="details-item-r" th:value="${underwriting.conclusion}" />
                    </div>
<!--                    <div class="details-result">-->
<!--                        <input type="hidden" th:value="${underwriting.underwritingId}"  class="underwritingId" />-->
<!--                        <div class="result result-yes" data-status="审核通过">通过</div>-->
<!--                        <div class="result result-no" data-status="审核失败">不通过</div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>