/*预核保部分是否通过*/
.details-result{
    width: 100%;
}
.details-result:after{
    clear: both;
    content: '';
    display: block;
}
.result{
    width: 70px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-right: 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.result-yes{
    background-color:#009688;
    margin-left:10%;
}
.result-no{
    background-color:#FF5722;
}
.back-info{
    height: 110px;
    resize:none;
    outline: none;
    line-height: 35px;
}
.cursor_d{
    cursor: default;
}
.history{
    width: 120px;
    margin-left: 20px;
    background-color: #009688;
    border-radius: 4px;
    cursor: pointer;
}
.history a{
    padding: 5px 10px;
    display: block;
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border: none;
}