<footer th:fragment="header">
    <ul class="rt_nav">
        <li>
            <a th:href="@{'/admin/user/toUpdatePerson?userId='+ ${session.user.userId}}" class="quit_icon" >
                <img th:src="@{/static/images/person.png}">
                <span>个人资料</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/user/out}" class="quit_icon" >
                <img th:src="@{/static/images/quit.png}">
                <span>安全退出</span>
            </a>
        </li>
    </ul>
</footer>
<logo th:fragment="logo">
    <img th:src="@{/static/images/logo.jpg}">
    <h6>预核保</h6>
</logo>