<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="Shortcut Icon" th:href="@{/static/images/logo.icon}">
    <title>预核保-管理员管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/public.css}" />
    <script>
        var j=1;
    </script>

</head>

<body>

<div class="aside_nav">
    <div class="nav_tit flex" th:include="pubic/header :: logo"></div>
    <ul>
        <li>
            <a class="flex" th:href="@{/admin/underwriting/select}"> 待审核</a>
        </li>
        <li>
            <a class="flex" th:href="@{/admin/underwriting/selectHistory}">已审核</a>
        </li>
        <li>
            <a class="flex"  th:href="@{/admin/agent/select}">代理人管理</a>
        </li>
        <li  >
            <a class="flex" th:href="@{/admin/announcement/select}">公告管理</a>
        </li>
        <li th:if="${session.user.role}=='200'">
            <a class="flex" th:href="@{/admin/company/select}">公司管理</a>
        </li>
        <li th:if="${session.user.role}=='200'"  class="active">
            <a class="flex" th:href="@{/admin/user/select}"><img th:src="@{/static/images/dengdai.png}"> <span>管理员管理</span></a>
        </li>
    </ul>
</div>
<div class="wrap ">
    <div class="header" th:include="pubic/header :: header"></div>
    <div class="add_modal">
        <div class="modal_tit">添加管理员</div>
        <div class="modal_oper">
            <a href="javascript:;" class="oper_close"></a>
        </div>
        <div class="modal_con">
            <div class="con_input">
                <div class="con_input_l con_input_alike">
                    <span>账号名称</span>
                </div>
                <input class="con_input_r con_input_alike username" type="text" placeholder="请输入添加的账号名称" />
            </div>
            <div class="con_input">
                <div class="con_input_l con_input_alike">
                    <span>密码</span>
                </div>
                <input class="con_input_r con_input_alike password" type="password" placeholder="请输入添加的账号密码" />
            </div>
            <div class="con_input">
                <div class="con_input_l con_input_alike name">
                    <span>姓名</span>
                </div>
                <input class="con_input_r con_input_alike jobNumber" type="text" placeholder="请输入名称，非必填" />
            </div>
            <div class="con_input">
                <div class="con_input_l con_input_alike phone">
                    <span>手机号</span>
                </div>
                <input class="con_input_r con_input_alike jobNumber" type="text" placeholder="请输入手机号，非必填" />
            </div>
        </div>
        <div class="modal_sub">
            <a class="sub_yes adduser">提交</a>
            <a class="sub_no">取消</a>
        </div>
    </div>
    <div class="shadow"></div>
    <div class="tables" style="margin: 0px">
        <div class="t_box anim">
            <div class="box_tit">
                <span class="box_tit_sea">管理员人员</span>
                <div class="box_add">添加</div>
            </div>
            <div class="box_table">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="active">
                        <th style="width:50px">序号</th>
                        <th>账号</th>
                        <th>手机号</th>
                        <th>身份</th>
                        <th>是否启用</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${userList}">
                        <td><script>document.write(j);j++</script></td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.phone}"></td>
                        <td th:if="${user.role ==100}">普通管理员</td>
                        <td th:if="${user.role ==200}">超级管理员</td>
                        <td th:if="${user.role ==300}">该管理员未启用</td>
                        <td th:if="${user.role ==100}">
                            <input class="switch switch-anim" type="checkbox" checked>
                        </td>
                        <td th:if="${user.role ==200}">无权限</td>
                        <td th:if="${user.role ==300}">
                            <input class="switch switch-anim" type="checkbox" >
                        </td>
                        <td>
                            <div class="operation">
                                <a th:href="@{'/admin/user/toUpdate?userId='+ ${user.userId}}" th:data-id="${user.userId}" class="op_agree">查看详情</a>
                                <a href="javascript:;" th:if="${user.role != 200}" th:data-id="${user.userId}" class="op_refuse">删除</a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
<script th:src="@{/static/js/jquery-2.1.0.js}"></script>
<script th:src="@{/static/js/index.js}"></script>
<script th:src="@{/static/js/userList.js}"></script>
</html>