<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.algerfan.mapper.AgentMapper" >
  <resultMap id="BaseResultMap" type="cn.algerfan.domain.Agent" >
    <id column="agent_id" property="agentId" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="firm" property="firm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    agent_id, nickname, avatar, openid, employee_id, company, firm
  </sql>
  <select id="selectByOpenid" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_agent
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <select id="checkEmployeeID" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_agent
    where employee_id=#{employeeId}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_agent
    where agent_id = #{agentId,jdbcType=INTEGER}
  </select>
  <!-- 后台 -->
  <select id="select" resultMap="BaseResultMap" >
    <if test="nickname != null" >
      <bind name="likeStr" value="'%'+ nickname +'%'"></bind>
    </if>
    select
    <include refid="Base_Column_List" />
    from tb_agent
    <where>
      <if test="nickname != null" >
        nickname like #{likeStr}
      </if>
    </where>
  </select>
  <select id="selectByAgentIds" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from tb_agent
    WHERE agent_id IN
    <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_agent
    where agent_id = #{agentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.algerfan.domain.Agent" >
    insert into tb_agent (agent_id, nickname, avatar, 
      openid, employee_id, company, 
      firm)
    values (#{agentId,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{firm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.algerfan.domain.Agent" >
    insert into tb_agent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="firm != null" >
        firm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agentId != null" >
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="firm != null" >
        #{firm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.algerfan.domain.Agent" >
    update tb_agent
    <set >
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="firm != null" >
        firm = #{firm,jdbcType=VARCHAR},
      </if>
    </set>
    where agent_id = #{agentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.algerfan.domain.Agent" >
    update tb_agent
    set nickname = #{nickname,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      employee_id = #{employeeId,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      firm = #{firm,jdbcType=VARCHAR}
    where agent_id = #{agentId,jdbcType=INTEGER}
  </update>
</mapper>