<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.algerfan.mapper.AnnouncementMapper" >
  <resultMap id="BaseResultMap" type="cn.algerfan.domain.Announcement" >
    <id column="announcement_id" property="announcementId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    announcement_id, type, content, date
  </sql>
  <select id="select" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_announcement
  </select>
  <select id="selectByContent" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_announcement
    where content = #{content}
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_announcement
    where announcement_id = #{announcementId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_announcement
    where announcement_id = #{announcementId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.algerfan.domain.Announcement" >
    insert into tb_announcement (announcement_id, type, content, 
      date)
    values (#{announcementId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.algerfan.domain.Announcement" >
    insert into tb_announcement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="announcementId != null" >
        announcement_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="announcementId != null" >
        #{announcementId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.algerfan.domain.Announcement" >
    update tb_announcement
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where announcement_id = #{announcementId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.algerfan.domain.Announcement" >
    update tb_announcement
    set type = #{type,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP}
    where announcement_id = #{announcementId,jdbcType=INTEGER}
  </update>
</mapper>