<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.algerfan.mapper.UnderwritingMapper" >
  <resultMap id="BaseResultMap" type="cn.algerfan.domain.Underwriting" >
    <id column="underwriting_id" property="underwritingId" jdbcType="INTEGER" />
    <id column="agent_id" property="agentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    underwriting_id, agent_id, name, sex, age, phone, introduce, data
  </sql>
  <insert id="insert" parameterType="cn.algerfan.domain.Underwriting" >
    insert into tb_underwriting (underwriting_id, agent_id, name, sex,
      age, phone, introduce,
      data)
    values (#{underwritingId,jdbcType=INTEGER}, #{agentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER},
      #{age,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR},
      #{data,jdbcType=VARCHAR})
  </insert>
  <select id="selectByAgentId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_underwriting
    where agent_id = #{agentId,jdbcType=INTEGER}
  </select>
  <select id="select" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_underwriting where 1=1
    <if test='keyword != null'>
      and name = #{keyword}
    </if>
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_underwriting
    where underwriting_id = #{underwritingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_underwriting
    where underwriting_id = #{underwritingId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="cn.algerfan.domain.Underwriting" >
    insert into tb_underwriting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="underwritingId != null" >
        underwriting_id,
      </if>
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="data != null" >
        data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="underwritingId != null" >
        #{underwritingId,jdbcType=INTEGER},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.algerfan.domain.Underwriting" >
    update tb_underwriting
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=VARCHAR},
      </if>
    </set>
    where underwriting_id = #{underwritingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.algerfan.domain.Underwriting" >
    update tb_underwriting
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR}
    where underwriting_id = #{underwritingId,jdbcType=INTEGER}
  </update>
</mapper>